@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAF9;
    font-family: "Sora", sans-serif;
}

.card {
    background-color: #FFFFFF;
    width: 23rem;
    margin: 15rem auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem #E5EAF0;
}

header img{
    border-radius: 1rem;
}

header span {
    font-size: 0.675rem;
    font-weight: 500;
    background-color: #F2EAFD;
    color: #7C19EE;
}