* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAF9;
}

.card {
    background-color: #FFFFFF;
    width: 23rem;
    margin: 15rem auto;
    padding: 1rem;
    border-radius: 1rem;
}